.layout {
	top: 10%;
	height: 90%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.panel {
	position: absolute;
	border-style: solid;
	box-sizing: border-box;

	-webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;    
    transition: all 500ms ease-in-out;
}