html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.app {
	height: 100%;
	width: 100%;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.backgroundBorder {
	width: 90%;
    height: 90%;
    border: 5px solid white;
    margin: auto;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container {
	height: 100%;
	width: 100%;
}

.layout {
	height: 100%;
	width: 100%;
	display: flex;
}

.leftCol {
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;    
    transition: width 500ms ease-in-out;
}

.leftCol .middleRow:hover {
	background: rgba(255 ,255 ,255 ,0.2);
}

.centerCol {
	height: 100%;
	flex-grow: 12;
	display: flex;
	flex-direction: column;
}

.centerCol .topRow {
	-webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;    
    transition: height 500ms ease-in-out;
}

.centerCol .bottomRow {
	-webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;    
    transition: height 500ms ease-in-out;
}

.rightCol {
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;    
    transition: width 500ms ease-in-out;
}

.rightCol .middleRow:hover {
	background: rgba(255, 255, 255, 0.2);
}

.centerCol .topRow:hover {
	background: rgba(255, 255, 255, 0.2);
}

.centerCol .bottomRow:hover {
	background: rgba(255, 255, 255, 0.2);
}

.centerCol .middleRow {
	border: 2px solid white;
}

.middleRow {
	flex-grow: 1;
}