html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#app {
	height: 100%;
	width: 100%;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.background-border {
	width: 90%;
    height: 90%;
    border: 5px solid white;
    margin: auto;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container {
	height: 100%;
	width: 100%;
}

.layout {
	height: 100%;
	width: 100%;
	display: flex;
}

.left-col {
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;    
    transition: width 500ms ease-in-out;
}

.left-col .middle-row:hover {
	background: rgba(255 ,255 ,255 ,0.2);
}

.center-col {
	height: 100%;
	flex-grow: 12;
	display: flex;
	flex-direction: column;
}

.center-col .top-row {
	-webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;    
    transition: height 500ms ease-in-out;
}

.center-col .bottom-row {
	-webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;    
    transition: height 500ms ease-in-out;
}

.right-col {
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;    
    transition: width 500ms ease-in-out;
}

.right-col .middle-row:hover {
	background: rgba(255, 255, 255, 0.2);
}

.center-col .top-row:hover {
	background: rgba(255, 255, 255, 0.2);
}

.center-col .bottom-row:hover {
	background: rgba(255, 255, 255, 0.2);
}

.center-col .middle-row {
	border: 2px solid white;
}

.middle-row {
	flex-grow: 1;
}