.iconContainer {
	display: inline-block;
	width: 100%;
	font-size: 18px;
	height: 100%;
	fill: white;
}

.iconText {
	font-family: arial;
    font-weight: bolder;
    font-size: larger;
}

.iconTextContainer {
	width: 80%;
	margin: 0 10%;
}

.panelIcon {
	margin: 30% 30% 5%;
    width: 40%;
    height: auto;
}

.contentContainer {
	opacity: 1;
	font-family: arial;
    font-weight: bolder;
    color: whitesmoke;
    font-size: larger;
    padding: 0 3%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    -webkit-transition: opacity 500ms cubic-bezier(.6,0,.4,1);
    -moz-transition: opacity 500ms cubic-bezier(.6,0,.4,1);
    -o-transition: opacity 500ms cubic-bezier(.6,0,.4,1);
    -ms-transition: opacity 500ms cubic-bezier(.6,0,.4,1);    
    transition: opacity 500ms cubic-bezier(.6,0,.4,1);
}

.hidden {
	opacity: 0;
}

.panel {
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
    box-sizing: border-box;
    /*overflow-y: scroll;*/
    height: 100%;
    width: 100%;

    -webkit-transition: transform 500ms cubic-bezier(.6,0,.4,1);
    -moz-transition: transform 500ms cubic-bezier(.6,0,.4,1);
    -o-transition: transform 500ms cubic-bezier(.6,0,.4,1);
    -ms-transition: transform 500ms cubic-bezier(.6,0,.4,1);   
    transition: transform 500ms cubic-bezier(.6,0,.4,1);
}

.clearBorder {
    border: transparent;
}

.clearBorderTop {
    border-top: transparent;
}

.clearBorderRight {
    border-right: transparent;
}

.clearBorderBottom {
    border-bottom: transparent;
}

.clearBorderLeft {
    border-left: transparent;
}